<h2>Phone number deleted</h2>

<p>Would you like to <a href="/contacts/<%= @contact.id %>/">go back to <%= @contact.name %>'s page</a> or <a href="/contacts">go back to the main contacts listing?</a></p>
