<h1>Phone saved!</h1>

<p>Your contact's phone number was successfully saved.</p>

<p><a href="/contacts/<%= @phone.contact_id %>">View <%= @phone.contact.name %></a></p>

<p><a href="/contacts">Return to contact listing</a></p>
