<h2>Email deleted</h2>

<p>Would you like to <a href="/contacts/<%= @email.contact_id %>/">go back to <%= @email.contact.name %>'s page</a> or <a href="/contacts">go back to the main contacts listing?</a></p>
