<h1>Contact updated with email!</h1>

<p>Your contact was successfully updated.</p>

<p><a href="/contacts/<%= @email.contact_id %>">View <%= @email.contact.name %></a></p>

<p><a href="/contacts">Return to contact listing</a></p>
